<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employee Management System Example</title>
</head>
<body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1bc46161c5.js" crossorigin="anonymous"></script>
<div align="center">
    <h1>Add new company</h1>
</div>

<div class="d-flex p-2">

    <form  action="#" th:action="@{/company/add-company}"  th:object="${company}"  method="post" >
        <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" th:field="*{address.country}" id="country" th:placeholder="country">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" th:field="*{address.city}" id="city" th:placeholder="city">
        </div>
        <div class="form-group">
            <label>Street</label>
            <input type="text" class="form-control" th:field="*{address.street}" id="street" th:placeholder="street">
        </div>
        <div class="form-group">
            <label>Zipcode</label>
            <input type="text" class="form-control" th:field="*{address.zipcode}" id="zipcode" th:placeholder="zipcode">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" th:placeholder="name">
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Add Company">
        </div>
    </form>
</div>
</body>
</html>